---
---

$content-width: 80%;

@import "minima";

body {
    // background-color:  #d5f5e3 ;
}

#back-to-top {
    position: absolute;
    top: 80%;
    left: 4.5%;
    transition: color ease 0.5s, border ease 0.5s;
    color: white;

    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: .5%;
}

.social-media-list {
    margin: 0;
}

.rule {
    color: gray;
    border: 0;
    border-top: 1px solid;
    height: 1px;
}

.site-footer {
    border: unset !important;
	padding-bottom: 0px;
}

.site-title.site-title {
	color: yellow;
    margin-left: 10%;
}

.site-header {
	border: unset !important;
}

.site-header > .wrapper {
    background-image: linear-gradient(to right, white,green, green, green, green, green, white);
    padding: 0;
}

.page-content > .wrapper {
    width: 70%;
}


.site-nav {
    padding-right: 10%;
}

.archive_img {
    width: inherit;
}

.page-link {
    margin-right: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
}

.page-link.active-page {
    text-decoration: underline;
    color: yellow;
}

@media screen and (min-width: 600px) { // Only apply this to screens with minimum width of 600px

    .page-link {
        position: relative;
        bottom: 0;
        display: inline-block;
        line-height: inherit !important;
        transition: bottom ease 0.5s;
    }

    .page-link:hover {
        bottom: -10px;
		color: yellow;
	}

}

.u-email {
    color: #2a7ae2;
}

.u-email b {
    display: none;
}

#lang_nl {
    padding-right: 10px;
}

.post-link {
    font-size: 20px;
}

.footer-col {
    margin-bottom: 1px;
}

.project-img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 1%;
}

.post-meta * {
    font-size: 14px;
    color: #828282;
}

.logo {
    position: absolute;
    z-index: 100;
    width: calc(max(10%, 100px));
    height: auto;
}

.logo:hover {
    bottom: -20px;
}