---
---

@import "minima";

body {
    // background-color:  #d5f5e3 ;
}

.social-media-list {
    margin: 0;
}

.rule {
    color: gray;
    border: 0;
    border-top: 1px solid;
    height: 1px;
}

.site-footer {
    border: unset !important;
	padding-bottom: 0px;
}

a.site-title site-title-fdb, a.site-title:visited site-title-fdb{
	color: yellow;
}

.site-header {
	background-color: green;
	text-color: yellow;	
	border-bottom: unset !important;
}

.archive_img {
    width: inherit;
}

.page-link {
    margin-right: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 600px) {

    .page-link {
        position: relative;
        bottom: 0;
        display: inline-block;
        line-height: inherit !important;
        transition: bottom ease 0.5s;
    }

    .page-link:hover {
        bottom: -10px;
		color: yellow;
	}

}

.u-email {
    color: #2a7ae2;
}

.u-email b {
    display: none;
}

#lang_nl {
    padding-right: 10px;
}

.post-link {
    font-size: 20px;
}


.footer-col {
    margin-bottom: 1px;
}

.project-img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 1%;
}

.post-meta * {
    font-size: 14px;
    color: #828282;
}