---
---

$content-width: 75%;

@import "minima";

body {
    // background-color:  #d5f5e3 ;
}

#back-to-top {
    position: absolute;
    top: 80%;
    right: 2%;
    padding: .5%;

    transition: opacity ease 0.5s;
    
    opacity: 0;
    color: #1756a9;

    border-radius: 10px;
    border-color: #1756a9;
    border-width: 2px;
    border-style: solid;
}

.social-media-list {
    margin: 0;
}

.rule {
    color: gray;
    border: 0;
    border-top: 1px solid;
    height: 1px;
}

.site-footer {
    border: unset !important;
	padding-bottom: 0px;
}

.site-nav {
    margin-left: 20%;
    float: left;
}

.site-header {
	border: unset !important;
}

.site-header > .wrapper {
    background-image: linear-gradient(to right, white,green, green, green, green, green, white);
    padding: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.site-header .site-title {
	color: yellow;
    margin-left: calc(max(20%, 130px));
}

.page-content > .wrapper {
    // width: 70%;
    padding: 0;
    margin-left: calc((100% - #{$content-width}) / 2);
    margin-right: calc((100% - #{$content-width}) / 2);
    max-width: 100%;
}

.wrapper li p{
    margin-left: 10px;
    margin-bottom: 5px;
}

.archive_img {
    width: inherit;
}

.page-link {
    margin-right: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
}

.page-link.active-page {
    text-decoration: underline;
    color: yellow;
}

.logo {
    position: absolute;
    z-index: 100;
    height: inherit;
    left: 0;
    height: 60px;
}

@media screen and (min-width: 600px) { // Only apply this to screens with minimum width of 600px

    .page-link {
        position: relative;
        bottom: 0;
        display: inline-block;
        line-height: inherit !important;
        transition: bottom ease 0.5s;
    }

    .page-link:hover {
        bottom: -10px;
		color: yellow;
	}

}

@media screen and (max-width: 600px) {

    .page-link {
        color: black !important;
    }

    .page-content .wrapper {
        margin-left: 25%;
    }
}


.u-email {
    color: #2a7ae2;
}

#lang_nl {
    padding-right: 10px;
}

.post-link {
    font-size: 20px;
}

.footer-col {
    margin-bottom: 1px;
}

.project-img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 2%;
}

.post-meta * {
    font-size: 14px;
    color: #828282;
}

.contact-form {
    position: relative;
}

.contact-form-child {
    position: absolute;
    left: 10%;
}

.notification-box {
    border-color: red;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;

    background-color: transparentize(red, 0.9);

    margin-bottom: 5vh;

    max-width: 50vw;
}

.notification-box > * {
    margin-left: 15px;
    margin-right: 15px;
}

#cycle-box {
    position: relative;
}

.cycler {
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;

    position: absolute;

    background-color: transparentize(white, .3);

    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cycler:hover {
    border-width: 2px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-color: yellow;
}

#cycle-left {
    left: 2%;
}

#cycle-right {
    right: 2%;
}

#address-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}