<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<script lang="javascript">
  window.addEventListener("scroll",
      function () {
        if(window.pageYOffset > 0) {
          document.getElementById("back-to-top").style.opacity = 1;
        } else {
          document.getElementById("back-to-top").style.opacity = 0;
        }
        document.getElementById("back-to-top").style.top = Math.min(
          0.8 * window.innerHeight + window.pageYOffset,
          document.getElementsByClassName("site-footer h-card")[0].offsetTop - 0.1 * window.innerHeight
        ) + "px";
      }
  );

  function backToTop() {
    window.scrollBy(0, -window.pageYOffset);
  }
</script>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">

      <a id = "back-to-top" href = "#" onclick = "backToTop()"><i class="fa fa-fw fa-angle-double-up"></i> Naar boven</a>

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
